In [35]:
import pandas as pd
import numpy as np
import os
import random

In [7]:
DATADIR = "/home/jovyan/DATA/Numerics/mimic2/bp/subjects/"
data = os.listdir("/home/jovyan/DATA/Numerics/mimic2/bp/subjects/")

In [9]:
with open(os.path.join(DATADIR, random.choice(data))) as f0:
    values = f0.readlines()

In [11]:
type(values), len(values)

(list, 461)

In [12]:
values[:4]

['150\t96\n', '129\t73\n', '135\t79\n', '123\t75\n']

In [23]:
values[1]

'129\t73\n'

In [14]:
values[1].split(",")

['129\t73\n']

In [15]:
values[1].split()

['129', '73']

In [ ]:
values_part2 = [for line in values]

In [16]:
for line in values[:5]:
    print(line)

150	96

129	73

135	79

123	75

127	80

In [21]:
for line in values[:5]:
    print(line, end =",")

150	96
,129	73
,135	79
,123	75
,127	80
,

In [17]:
for line in values[:5]:
    print(line.split())

['150', '96']
['129', '73']
['135', '79']
['123', '75']
['127', '80']

In [19]:
for line in values[:5]:
    l= line.split()
    for ll in l:
        print(float(ll), end =",")
    print()

150.0,96.0,
129.0,73.0,
135.0,79.0,
123.0,75.0,
127.0,80.0,

In [22]:
mydata = []
for line in values[:5]:
    l = line.split()
    nums = [float(ll) for ll in l]
    mydata.append(nums)
print(mydata)

[[150.0, 96.0], [129.0, 73.0], [135.0, 79.0], [123.0, 75.0], [127.0, 80.0]]

In [26]:
fname = "Accidents7904.csv"
with open(os.path.join("/home/jovyan/DATA/Misc/",fname)) as f0:
    accident_values = f0.readlines(500000)

In [36]:
accidents2 = pd.read_csv(os.path.join("/home/jovyan/DATA/Misc/",fname), nrows =4000)
accidents2.tail()

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
3995,197901B3XGQ01,334960.0,821000.0,NaN,NaN,1,3,1,1,03/02/1979,...,-1,-1,4,8,1,-1,0,-1,-1,NaN
3996,197901B3XHD35,368880.0,975000.0,NaN,NaN,1,2,3,7,03/02/1979,...,-1,-1,4,8,1,-1,0,-1,-1,NaN
3997,197901B3XKD53,521780.0,273000.0,NaN,NaN,1,2,2,3,03/02/1979,...,-1,-1,4,8,1,-1,0,-1,-1,NaN
3998,197901B3XLC98,316070.0,448000.0,NaN,NaN,1,2,2,2,03/02/1979,...,-1,-1,4,8,1,-1,0,-1,-1,NaN
3999,197901B3XLD88,507570.0,468000.0,NaN,NaN,1,2,1,1,03/02/1979,...,-1,-1,4,8,1,-1,0,-1,-1,NaN

In [44]:
accidents2 = pd.read_csv(os.path.join("/home/jovyan/DATA/Misc/",fname), nrows =4000, skiprows = 3995)
accidents2.tail()

,197901B3XEK70,127780,280000,NULL,NULL.1,1,3,1.1,1.2,03/02/1979,...,-1.2,-1.3,4.2,8,1.3,-1.4,0,-1.5,-1.6,Unnamed: 31
3995,197901C9QLE63,94570.0,913000.0,NaN,NaN,1,3,2,1,09/03/1979,...,-1,-1,1,8,1,-1,0,-1,-1,NaN
3996,197901C9RAD31,391590.0,461000.0,NaN,NaN,1,3,1,1,09/03/1979,...,0,1,1,8,1,-1,0,-1,-1,NaN
3997,197901C9RAF12,338890.0,152000.0,NaN,NaN,1,3,1,1,09/03/1979,...,-1,-1,1,8,2,-1,0,-1,-1,NaN
3998,197901C9RAV74,407580.0,234000.0,NaN,NaN,1,3,1,1,09/03/1979,...,-1,-1,1,8,1,-1,2,-1,-1,NaN
3999,197901C9RBV73,407480.0,233000.0,NaN,NaN,1,3,1,2,09/03/1979,...,-1,-1,1,8,1,-1,2,-1,-1,NaN

In [27]:
len(accident_values)

4281

In [28]:
accident_values[10]

'197901A1FBK75,136380,245000,NULL,NULL,1,3,2,1,01/01/1979,2,05:05,27,9999,4,455,9,30,0,-1,-1,0,-1,-1,4,8,3,-1,0,-1,-1,\n'

In [30]:
accident_values[10].split(',')

['197901A1FBK75',
 '136380',
 '245000',
 'NULL',
 'NULL',
 '1',
 '3',
 '2',
 '1',
 '01/01/1979',
 '2',
 '05:05',
 '27',
 '9999',
 '4',
 '455',
 '9',
 '30',
 '0',
 '-1',
 '-1',
 '0',
 '-1',
 '-1',
 '4',
 '8',
 '3',
 '-1',
 '0',
 '-1',
 '-1',
 '\n']

In [29]:
for h in accident_values[0].split(","):
    print(h)

﻿Accident_Index
Location_Easting_OSGR
Location_Northing_OSGR
Longitude
Latitude
Police_Force
Accident_Severity
Number_of_Vehicles
Number_of_Casualties
Date
Day_of_Week
Time
Local_Authority_(District)
Local_Authority_(Highway)
1st_Road_Class
1st_Road_Number
Road_Type
Speed_limit
Junction_Detail
Junction_Control
2nd_Road_Class
2nd_Road_Number
Pedestrian_Crossing-Human_Control
Pedestrian_Crossing-Physical_Facilities
Light_Conditions
Weather_Conditions
Road_Surface_Conditions
Special_Conditions_at_Site
Carriageway_Hazards
Urban_or_Rural_Area
Did_Police_Officer_Attend_Scene_of_Accident
LSOA_of_Accident_Location