<html>
<table width="100%" cellspacing="2" cellpadding="2" border="1">
<tbody>
<tr>
<td valign="center" align="center" width="25%"><img src="../../media/decartes.jpg"
alt="DeCART Icon" width="128" height="171"><br>
</td>
<td valign="center" align="center" width="75%">
<h1 align="center"><font size="+3">DeCART Summer School<br>
for<br>
Biomedical Data Science</font></h1></td>
<td valign="center" align="center" width="25%"><img
src="../../media/U_Health_stacked_png_red.png" alt="Utah Health
Logo" width="128" height="134"><br>
</td>
</tr>
</tbody>
</table>
<br>
</html>

# MIMIC2 Heart Rate Data

The heart rate and blood pressure data we have been working with is on the verge of worthlessness. Why?

## What do we know about the data originally?

### The numeric data we are analyzing were all pulled from a MySQL database

In this notebook we will do a SQL query to see what the originally data looked like.

In [1]:
import pymysql
import pandas as pd
import getpass

In [2]:
conn = pymysql.connect(host="mysql",port=3306,
                       user="jovyan",passwd=getpass.getpass("Enter password for MIMIC2 database"),
                       db='mimic2')

Enter password for MIMIC2 database········

In [7]:
help(cursor)

Help on Cursor in module pymysql.cursors object:

class Cursor(builtins.object)
 |  This is the object you use to interact with the database.
 |
 |  Methods defined here:
 |
 |  __enter__(self)
 |
 |  __exit__(self, *exc_info)
 |
 |  __init__(self, connection)
 |      Do not create an instance of a Cursor yourself. Call
 |      connections.Connection.cursor().
 |
 |  __iter__(self)
 |
 |  callproc(self, procname, args=())
 |      Execute stored procedure procname with args
 |
 |      procname -- string, name of procedure to execute on server
 |
 |      args -- Sequence of parameters to use with procedure
 |
 |      Returns the original args.
 |
 |      Compatibility warning: PEP-249 specifies that any modified
 |      parameters must be returned. This is currently impossible
 |      as they are only available by storing them in a server
 |      variable and then retrieved by a query. Since stored
 |      procedures return zero or more result sets, there is no
 |      reliable way to get at OUT or INOUT parameters via callproc.
 |      The server variables are named @_procname_n, where procname
 |      is the parameter above and n is the position of the parameter
 |      (from zero). Once all result sets generated by the procedure
 |      have been fetched, you can issue a SELECT @_procname_0, ...
 |      query using .execute() to get any OUT or INOUT values.
 |
 |      Compatibility warning: The act of calling a stored procedure
 |      itself creates an empty result set. This appears after any
 |      result sets generated by the procedure. This is non-standard
 |      behavior with respect to the DB-API. Be sure to use nextset()
 |      to advance through all result sets; otherwise you may get
 |      disconnected.
 |
 |  close(self)
 |      Closing a cursor just exhausts all remaining data.
 |
 |  execute(self, query, args=None)
 |      Execute a query
 |
 |      :param str query: Query to execute.
 |
 |      :param args: parameters used with query. (optional)
 |      :type args: tuple, list or dict
 |
 |      :return: Number of affected rows
 |      :rtype: int
 |
 |      If args is a list or tuple, %s can be used as a placeholder in the query.
 |      If args is a dict, %(name)s can be used as a placeholder in the query.
 |
 |  executemany(self, query, args)
 |      Run several data against one query
 |
 |      :param query: query to execute on server
 |      :param args:  Sequence of sequences or mappings.  It is used as parameter.
 |      :return: Number of rows affected, if any.
 |
 |      This method improves performance on multiple-row INSERT and
 |      REPLACE. Otherwise it is equivalent to looping over args with
 |      execute().
 |
 |  fetchall(self)
 |      Fetch all the rows
 |
 |  fetchmany(self, size=None)
 |      Fetch several rows
 |
 |  fetchone(self)
 |      Fetch the next row
 |
 |  mogrify(self, query, args=None)
 |      Returns the exact string that is sent to the database by calling the
 |      execute() method.
 |
 |      This method follows the extension to the DB API 2.0 followed by Psycopg.
 |
 |  nextset(self)
 |
 |  scroll(self, value, mode='relative')
 |
 |  setinputsizes(self, *args)
 |      Does nothing, required by DB API.
 |
 |  setoutputsizes(self, *args)
 |      Does nothing, required by DB API.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  DataError = <class 'pymysql.err.DataError'>
 |      Exception raised for errors that are due to problems with the
 |      processed data like division by zero, numeric value out of range,
 |      etc.
 |
 |  DatabaseError = <class 'pymysql.err.DatabaseError'>
 |      Exception raised for errors that are related to the
 |      database.
 |
 |  Error = <class 'pymysql.err.Error'>
 |      Exception that is the base class of all other error exceptions
 |      (not Warning).
 |
 |  IntegrityError = <class 'pymysql.err.IntegrityError'>
 |      Exception raised when the relational integrity of the database
 |      is affected, e.g. a foreign key check fails, duplicate key,
 |      etc.
 |
 |  InterfaceError = <class 'pymysql.err.InterfaceError'>
 |      Exception raised for errors that are related to the database
 |      interface rather than the database itself.
 |
 |  InternalError = <class 'pymysql.err.InternalError'>
 |      Exception raised when the database encounters an internal
 |      error, e.g. the cursor is not valid anymore, the transaction is
 |      out of sync, etc.
 |
 |  NotSupportedError = <class 'pymysql.err.NotSupportedError'>
 |      Exception raised in case a method or database API was used
 |      which is not supported by the database, e.g. requesting a
 |      .rollback() on a connection that does not support transaction or
 |      has transactions turned off.
 |
 |  OperationalError = <class 'pymysql.err.OperationalError'>
 |      Exception raised for errors that are related to the database's
 |      operation and not necessarily under the control of the programmer,
 |      e.g. an unexpected disconnect occurs, the data source name is not
 |      found, a transaction could not be processed, a memory allocation
 |      error occurred during processing, etc.
 |
 |  ProgrammingError = <class 'pymysql.err.ProgrammingError'>
 |      Exception raised for programming errors, e.g. table not found
 |      or already exists, syntax error in the SQL statement, wrong number
 |      of parameters specified, etc.
 |
 |  Warning = <class 'pymysql.err.Warning'>
 |      Exception raised for important warnings like data truncations
 |      while inserting, etc.
 |
 |  max_stmt_length = 1024000

In [6]:
cursor = conn.cursor()

NameError: name 'coun' is not defined

In [4]:
bloodpressure = pd.read_sql("""SELECT * FROM chartevents WHERE 
                            itemid in (6, 51, 455, 6701) LIMIT 1000""",conn)

In [5]:
bloodpressure.head()

,subject_id,icustay_id,itemid,charttime,elemid,realtime,cgid,cuid,value1,value1num,value1uom,value2,value2num,value2uom,resultstatus,stopped
0,15232,18921,6,2984-12-06 04:00:00,0,2984-12-06 04:32:00,-1,54,139,139.0,mmHg,46,46.0,mmHg,None,NotStopd
1,23292,28941,6,3423-04-21 21:00:00,0,3423-04-21 21:00:00,-1,69,None,NaN,None,None,NaN,None,None,D/C'd
2,29333,43707,6,3081-04-04 23:00:00,0,3081-04-04 23:00:00,-1,1,None,NaN,None,None,NaN,None,None,D/C'd
3,3,4,51,2682-09-07 19:15:00,0,2682-09-07 21:40:00,-1,69,0,0.0,mmHg,0,0.0,mmHg,None,NotStopd
4,3,4,51,2682-09-07 20:00:00,0,2682-09-07 21:40:00,-1,69,78,78.0,mmHg,49,49.0,mmHg,None,NotStopd