# Identifying Patient Cohorts in [MIMIC-II](http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3124312/)

In [1]:
%matplotlib inline

In [4]:
import pymysql
import pandas as pd
import getpass
import pandas as pd
import seaborn as sns
import datetime
import time
import matplotlib.pyplot as plt

In [5]:
conn = pymysql.connect(host="mysql",
                       port=3306,user="jovyan",
                       passwd=getpass.getpass("Enter MySQL passwd for jovyan"),db='mimic2')
cursor = conn.cursor()

Enter MySQL passwd for jovyan········

In [10]:
 pd.read_sql("""SELECT * FROM admissions LIMIT 50""", conn).head()

   hadm_id  subject_id             admit_dt             disch_dt
0    28766          56  2644-01-17 00:00:00  2644-01-23 00:00:00
1     2075           3  2682-09-07 00:00:00  2682-09-18 00:00:00
2    20666          21  3138-10-29 00:00:00  3138-11-11 00:00:00
3    20882          21  3139-03-19 00:00:00  3139-03-28 00:00:00
4    12532          12  2875-09-26 00:00:00  2875-10-09 00:00:00

TypeError: 'numpy.int64' object is not callable

## Exercise: Create a Histogram of the length of stay for subjects in the database

In [16]:
hosps = \
pd.read_sql("""SELECT * FROM admissions""", conn)
print(hosps.shape)
hosps
hosps["LOS"] = hosps["disch_dt"] - hosps["admit_dt"]
hosps["LOS2"] = hosps.apply(lambda row: (row["disch_dt"]- row["admit_dt"]).total_seconds(), axis = 1)
hosps.head()

(5074, 4)

,hadm_id,subject_id,admit_dt,disch_dt,LOS,LOS2
0,28766,56,2644-01-17 00:00:00,2644-01-23 00:00:00,6 days,518400.0
1,2075,3,2682-09-07 00:00:00,2682-09-18 00:00:00,11 days,950400.0
2,20666,21,3138-10-29 00:00:00,3138-11-11 00:00:00,13 days,1123200.0
3,20882,21,3139-03-19 00:00:00,3139-03-28 00:00:00,9 days,777600.0
4,12532,12,2875-09-26 00:00:00,2875-10-09 00:00:00,13 days,1123200.0

In [14]:
hosps["LOS"][0]

Timedelta('6 days 00:00:00')

In [ ]:
h

## Exercise: Create a histogram of the day of the week when patients are admitted